.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10rem;
    background-color: teal;
}
.container p{
    font-family: 'inter', sans-serif;
    font-size: 10rem;
    color: beige;
}