.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    padding: 10rem;
}
button{
    width: 8rem;
    height: 3rem                                                                                                                                                                      ;
}
input{
    width: 10rem;
    height: 2rem;
}
p{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
    width: 10rem;
    height: 5rem;
    font-family: 'inter';
    color: cornsilk;
    font-size: 3rem;
}
